.body_base {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url('../img/Accueil.jpg');
    background-size: cover;
    backdrop-filter: blur(2px);
    background-attachment: fixed;
}

.body_livre {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url('../img/livre.jpg');
    background-size: cover;
    background-position: 25% 50%;
    background-attachment: fixed;
}

.hetf {
    background-color: rgba(236, 196, 162, 0.7);
    font-size: 16pt;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(122, 76, 43);
}

a:hover {
    text-shadow: 1px 2px 2px rgb(122, 76, 43);
}

main {
    display: flex;
    justify-content: center;
    flex-grow:1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22pt;
    flex-grow:1;
}

section form {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow:0.7;
    width:50%;
    justify-content: space-around;
    background-color:rgba(236, 196, 162, 0.7);
    border-radius:30px 30px 30px 30px;
    border-color:rgba(236, 196, 162);
}

form article{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.warning{
    color:red;
    font-weight:bold;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(122, 76, 43);
}

footer aside {
    font-weight: bold;
}

nav input[type=submit] { 
    border: none;
    background: transparent;
    font-size: 15pt;
    letter-spacing: 3px;
    color: rgb(122, 76, 43);
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    outline: none;
}
 
     